<ion-view view-title="Dashboard">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <div class="card status">
                    <div class="ink dark-bg">
                    <h3>Status</h3>
                    </div>
                    <div class="text-card">
                    asdsdfasf
                    asdf 
                    </div>
                </div>
                <div class="card history">
                    <div class="ink dark-bg">
                    <h3>History</h3>
                    </div>
                    <div class="text-card">
                    asdsdfasf
                    asdf 
                    
                    </div>
                </div>
                <div class="card profile">
                    <div class="ink dark-bg">
                    <h3>Profile</h3>
                    </div>
                    <div class="text-card">
                    asdsdfasf
                    asdf 
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
