<ion-view view-title="Register">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
        <form name="registerForm"> 
            <div class="list">
                <div class="card">
                <!-- Name -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="donor.Name" placeholder="Name">
                </label>
                <!-- Sex -->
                <label class="item item-radio" style="width:50%;float:left;">
                    <input type="radio" name="group" value="on" ng-model="donor.male">
                    <div class="item-content">
                        Male
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio" style="width:50%;float:right;">
                    <input type="radio" name="group" value="on" ng-model="donor.female">
                    <div class="item-content">
                        Female
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <!-- Blood Group -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Blood Group
                    </div>
                    <select ng-model="donor.bloodGroup">
                        <option selected="" value="A+ve">A+ve</option>
                        <option value="A-ve">A-ve</option>
                        <option value="B+ve">B+ve</option>
                        <option value="B-ve">B-ve</option>
                        <option value="O+ve">O+ve</option>
                        <option value="O-ve">O-ve</option>
                        <option value="AB+ve">AB+ve</option>
                        <option value="AB-ve">AB-ve</option>
                    </select>
                </label>
                <!-- Branch -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Branch
                    </div>
                    <select ng-model="donor.branch">
                    <option value="Applied Electronics">Applied Electronics and Instrumentation</option>
                    <option value="Architecture">Architecture</option>
                    <option value="Business Administration">Business Administration</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="Computer Applications">Computer Applications</option>
                    <option value="Computer science">Computer science and Engineering</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Electronics And Communication">Electronics And Communication Engineering</option>
                    <option value="Industrial Engineering">Industrial Engineering</option>
                    <option selected="" value="Mechanical Engineering">Mechanical Engineering</option>
                    </select>
                </label>
                </label>
                <!-- DOB -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Date of Birth</span>
                    <input type="date" ng-model="donor.DOB" placeholder="Date of Birth">
                </label>
                <!-- Mobile -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Mobile</span>
                    <input type="number" ng-model="donor.Mobile" placeholder="Mobile">
                </label>
                <!-- Email -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="donor.Email" placeholder="Email">
                </label>
                <!-- Password -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="donor.Password" placeholder="Password">
                </label>
                <!-- Confirm Password -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" ng-model="donor.ConfPassword" placeholder="Confirm Password">
                </label>
                <!-- Year -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">Year of Joining</span>
                    <input type="number" ng-model="donor.Year" placeholder="Year of Joining">
                </label>
                <!-- Submit -->
                <button ng-click="submit()" ng-disabled="registerForm.$invalid" class="item button button-block button-calm ink activated" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Submit
                </button>
                </div>
            </div>
            </form>
        </div>
    </ion-content>
</ion-view>
